<div class="jumbotron jumbotron-fluid display-2" id="act-edit-jumbo">Editing Activity</div>
<div class="container my-5" id="container">
<%= render 'form', activity: @activity %>

<%= link_to 'Back', activities_path, class: "btn btn-outline-info" %>
</div>