<% if notice %>
    <div class="alert alert-success mb-0" role="alert">
        <%= notice %>
    </div>
<% end %>

<% if alert %>
    <div class="alert alert-danger mb-0" role="alert">
        <%= alert %>
    </div>
<% end %>